.hero {
    .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 4rem auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    }

    .left {
        padding: 1rem;
    }

    .h1 {
        padding: 1rem 0;
    }

    .input-container {
        padding: 1rem 0;
    }

    .right {
        padding: 1rem;
    }

    .img-container {
        width: 100%;
        display: flex;
    }

    img {
        max-width: 80%;
        margin: auto;
    }
}

@media  screen and (max-width: 940px) {
    .hero .container {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
}